 
        /* General Reset */
        body {
            margin: 0;
            padding: 0;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
        /* About Section */
        #about_sec {
            max-width: 1100px;
            margin: 50px auto;
            padding: 40px;
            background-color: #c68df1;
            border-radius: 10px;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
            text-align: center;
        }

        #about_sec h1 {
            color: #0f0e0e;
            margin-bottom: 20px;
        }

        #about_sec p {
            font-size: 1.3rem;
            color: #100f0f;
            line-height: 1.6;
            margin-bottom: 20px;
        }

        /* Button */
        .contact-btn {
            background-color: #4b0082;
            color: white;
            margin: 0% 10%;
            padding: 15px 50px;
            font-size: 16px;
            border: none;
            border-radius: 25px;
            cursor: pointer;
            font-weight: bold;
            letter-spacing: 1.2px;
        }

        .contact-btn:hover {
            background-color: #3d0367;
        }
        #contact-img{
            margin-left: 75%; 
            margin-top: -20%;
        }


        /* Responsive Design */
        @media screen and (min-width: 600px)and (max-width: 768px) {
            
            #about_sec {
                width: 85%;
                padding: 20px;
            }

            .contact-btn {
                width: 80%;
                margin-left: 10%;
            }
            #contact-img{
                margin-left: 15%;
                margin-top: 2%;
            }
        }
        @media screen and (min-width:500px) and (max-width: 600px) {
            .contact-btn{
                width: 60%;
                margin: 0% 10%;
            }
            #contact-img{
                margin-left: 15%;
                margin-top: 2%;
            }

        }

        @media screen and (min-width:380px) and (max-width: 500px) {
            .contact-btn{
                width: 80%;
                margin: 0% 10%;
            }
            #contact-img{
                margin-left: 15%;
            }
        }